<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightpink;
  color: black;
}

h1 {
  text-align: center;
}

nav {
  height: 6000px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

footer {
  text-align: center;
  margin-right: 200px;
}

</style>
</head>
</html>


